{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
  <div class="row">

  <form
      class=""
      action="{% url 'financial:finalize_cart' %}"
      method="POST"
    >
{% csrf_token %}
    {% for order in current_cart.order.all %}

    <div class="col-6">
      <div class="list-cart">
        <ul>

          <li>
            <div class="row">
              <div class="col-md-3">
                <img
                  src="{{ order.product_supplier_id.product_id.product_image.url }}"
                  class="img-responsive"
                >
              </div>
              <div
                class="col-md-9"
                style="position: relative"
              >
                <h5>{{order.product_supplier_id.product_id.product_name}}</h5>
                <p><span>فروشنده : </span>{{order.product_supplier_id.supplier_id.company_name}}</p>
                <p>{{order.product_supplier_id.unit_price}}<span>تومان</span>
                </p>

{% comment %} 
                <form class="form-inline special-form">
                  <button
                    class="btn btn-primary"
                    onclick="cart.trash(4)"
                    id="product-4"
                  >delete</button>
                </form> {% endcomment %}

                <a href="{% url 'cart:delete_order' order.id %}">حذف</a>

                <label for="{{ order.id }}">تعداد:</label>
                <input type="number" id="{{ order.id }}" name="{{ order.id }}" min="1" value="{{ order.number }}">

              </div>
            </div>
          </li>
        </ul>
      </div>


    </div>
    {% empty %}
    <p>سفارشی ثبت نکرده اید!</p>
    {% endfor %}

    
      {% comment %} {% csrf_token %} {% endcomment %}
      {% comment %} <input
        type="hidden"
        id="custId"
        name="prosupid"
        value="{{ supplier.id }}"
      > {% endcomment %}

{% if current_cart %}
<button type="submit">نهایی شدن خرید</button>
{% endif %}
      
    </form>


  </div>

</div>



{% endblock %}