{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
  <div class="row">

  
{% for order in current_cart.order.all %}

    <div class="col-6">
      <div class="list-cart">
        <ul>

          <li>
            <div class="row">
              <div class="col-md-3">
                <img
                  src="{{ order.product_supplier_id.product_id.product_image.url }}"
                  class="img-responsive"
                >
              </div>
              <div
                class="col-md-9"
                style="position: relative"
              >
                <h5>{{order.product_supplier_id.product_id.product_name}}</h5>
                <p><span>فروشنده : </span>{{order.product_supplier_id.supplier_id.company_name}}</p>
                <p>{{order.product_supplier_id.unit_price}}<span>تومان</span>
                </p>
              
               
                <form class="form-inline special-form">

                  {% comment %} <div class="form-group">
                    <input
                      type="text"
                      class="form-input"
                      value="34"
                      data-note="4"
                    >
                  </div> {% endcomment %}
                  <button
                    class="btn btn-primary"
                    onclick="cart.trash(4)"
                    id="product-4"
                  >delete</button>

                </form>

              </div>
            </div>
          </li>
        </ul>
      </div>


    </div>
{% endfor %}
  </div>

</div>



{%endblock%}