{% extends 'base.html' %}

{% block content %}
{% load static %}


<div class="bg-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">

                <ul class="top-list">
                    <li>فروشگاه اینترنتی دیجی کالا <span>/</span></li>
                    <li>کالای دیجیتال <span>/</span></li>
                    <li>موبایل <span>/ </span></li>
                    <li>گوشی موبایل</li>
                </ul>
            </div>
            <div class="col-md-2">
                <span class="no-product"> بازخورد درباره این کالا</span>
            </div>


        </div>
        <div class="row product-box">

            <div class="col-md-4">
                <!--                    <div class="flexslider">-->
                <!--&lt;!&ndash;                        <ul class="slides">&ndash;&gt;-->
                <!--&lt;!&ndash;                            <li data-thumb="slide1-thumb.jpg">&ndash;&gt;-->
                <!--&lt;!&ndash;                                <img src="img-3.jpg" />&ndash;&gt;-->
                <!--&lt;!&ndash;                            </li>&ndash;&gt;-->
                <!--&lt;!&ndash;                            <li data-thumb="slide2-thumb.jpg">&ndash;&gt;-->
                <!--&lt;!&ndash;                                <img src="img-4.jpg" />&ndash;&gt;-->
                <!--&lt;!&ndash;                            </li>&ndash;&gt;-->
                <!--&lt;!&ndash;                            <li data-thumb="slide3-thumb.jpg">&ndash;&gt;-->
                <!--&lt;!&ndash;                                <img src="slide3.jpg" />&ndash;&gt;-->
                <!--&lt;!&ndash;                            </li>&ndash;&gt;-->
                <!--&lt;!&ndash;                            <li data-thumb="slide4-thumb.jpg">&ndash;&gt;-->
                <!--&lt;!&ndash;                                <img src="img-5.jpg" />&ndash;&gt;-->
                <!--&lt;!&ndash;                            </li>&ndash;&gt;-->
                <!--&lt;!&ndash;                        </ul>&ndash;&gt;-->
                <!--                    </div>-->
                <img src="img-3.jpg" class="img-responsive"/>
                <ul class="list-icon-img">
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-share"></i></a></li>
                    <li><a href="#"><i class="fa fa-bell"></i></a></li>
                    <li><a href="#"><i class="fa fa-bar-chart"></i></a></li>

                </ul>
                <div class="row img-list">
                    <div class="col-md-3">
                        <a href="#" target="_blank">
                            <img src="img-3.jpg" class="img-responsive"/>
                        </a>

                    </div>
                    <div class="col-md-3">
                        <a href="#" type="_blank">
                            <img src="img-2.jpg" class="img-responsive"/>
                        </a>

                    </div>
                    <div class="col-md-3">
                        <a href="#" type="_blank">
                            <img src="img-1.jpg" class="img-responsive"/>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" target="_blank">
                            <img src="img-4.jpg" class="img-responsive"/>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="details">
                    <h5>گوشی موبایل سامسونگ مدل Galaxy A20s SM-A207F/DS دو سیم کارت ظرفیت 32 گیگابایت</h5>
                    <div class="row">
                        <div class="col-6">

                            <span>Samsung Galaxy A20s SM-A207F/DS Dual SIM 32GB Mobile Phone</span>


                            <ul class="dotted">
                                <li><span>برند : </span><a href="#">سامسونگ</a></li>
                                <li><span>دسته بندی : </span><a href="#">گوشی موبایل</a></li>
                            </ul>
                            <ul class="color-list">
                                <h6>انتخاب رنگ</h6>
                                <li>
                                    <div class="red"></div>
                                    آبی
                                </li>
                                <li>
                                    <div class="blue"></div>
                                    قرمز
                                </li>
                                <li>
                                    <div class="pink"></div>
                                    مشکی
                                </li>
                            </ul>
                            <ul class="text-list">
                                <li>شبکه های ارتباطی:
                                    2G، 3G، 4G
                                </li>
                                <li>سیستم عامل:
                                    Android
                                </li>
                                <li>مقدار RAM:
                                    3 گیگابایت
                                </li>
                                <li>+ <a href="#">موارد بیشتر</a></li>
                            </ul>
                            <p>
                                هشدار سامانه همتا: حتما در زمان تحویل دستگاه، به کمک کد فعال‌سازی چاپ شده روی جعبه یا
                                کارت گارانتی، دستگاه را از طریق #7777*، برای سیم‌کارت خود فعال‌سازی کنید. آموزش تصویری
                                در آدرس اینترنتی hmti.ir/05
                            </p>
                            <div class="row">
                                <div class="col-md-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row icon-section">
                                <div class="col-md-3 pleft-0">

                                    <div class="row">

                                        <div class="col-md-4"><img src="warranty.png" width="30"/></div>
                                        <div class="col-md-8"> ضمانت اصل بودن کالا</div>
                                    </div>


                                </div>
                                <div class="col-md-3 pleft-0">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="24.png" width="30">
                                        </div>
                                        <div class="col-md-8">
                                            7 روز هفته 24 ساعته
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 pleft-0">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="express.png" width="30">
                                        </div>
                                        <div class="col-md-8">
                                            امکان تحویل اکسپرس
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 pleft-0">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="money.png" width="30">
                                        </div>
                                        <div class="col-md-8">
                                            امکان پرداخت در محل
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h6 class="check-class"><i class="fa fa-check"></i> بیش از ۹۹۹ نفر از خریداران این محصول را
                                پیشنهاد داده‌اند</h6>
                            <div class="side-details-box">

                                <ul>

                                    <li><i class="fa fa-certificate"></i>
                                        گارانتی 18 ماهه دیجی کالا
                                        <br>
                                        <span>رضایت 100درصد از کالا</span> <span>عملکرد : 5از 5</span></li>
                                    <li><i class="fa fa-home"></i>

                                        فروشنده : دیجی کالا
                                        <i class="fa fa-angle-double-left fleft"></i>
                                    </li>
                                    <li><i class="fa fa-motorcycle"></i>
                                        آماده ارسال
                                        <i class="fa fa-angle-double-left fleft"></i>
                                    </li>
                                </ul>
                                <h6>2,250,000 تومان</h6>
                                <button type="button">افزودن به سبد خرید</button>
                                <p>
                                    <i class="fa fa-certificate"></i>
                                    ۱۵۰ امتیاز پس از فعال‌سازی دیجی‌کلاب و خرید این کالا</p>

                            </div>
                            <p class="price-p">آیا قیمت مناسب تری سراغ دارید ؟ <a href="#"> بلی </a><a href="#"> خیر</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="title-table">لیست فروشنده / گارانتی های این محصول
                    <a href="#">کالای خود را در دیجی کالا بفروشید</a>
                </h5>

                <table class="table table-seller">
                    <tr>
                        <td>
                            <i class="fa fa-home"></i>
                            دیجی کالا
                            <br>
                            <span>90% رضایت از کالا</span>| <span>  عملکرد 5 از 5</span></td>
                        <td>آماده ارسال<i class="fa fa-question-circle"></i></td>
                        <td><i class="fa fa-certificate"></i>گارانتی 18 ماهه دیجی کالا</td>
                        <td>2,250,000 تومان</td>
                        <td>
                            <button>افزودن به سبد</button>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-home"></i>
                            ماه تابان رایانه
                            <br>
                            <span>70% رضایت از کالا</span>| <span>  عملکرد4  از 5</span></td>
                        <td>آماده ارسال<i class="fa fa-question-circle"></i></td>
                        <td><i class="fa fa-certificate"></i>گارانتی 18 ماهه کسری پارس</td>
                        <td>2,250,000 تومان</td>
                        <td>
                            <button>افزودن به سبد</button>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="row product-box mbottom-30">
            <div class="arrow-right"><i class="fa fa-caret-right"></i></div>
            <div class="col-md-12">
                <h4 class="title"><span>محصولات مرتبط</span></h4>
            </div>

            <div class="col-md-3">

                <a class="relate-product" href="#" target="_blank">
                    <img src="img-3.jpg" class="img-responsive"/>
                    <h6>
                        گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...
                        <p>1,200,000 تومان</p>
                    </h6>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" target="_blank" class="relate-product">
                    <img src="img-2.jpg" class="img-responsive"/>
                    <h6>
                        گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...
                        <p>3,200,000 تومان</p>
                    </h6>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" target="_blank" class="relate-product">
                    <img src="img-4.jpg" class="img-responsive"/>
                    <h6>
                        گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...
                        <p>2,200,000 تومان</p>
                    </h6>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" target="_blank" class="relate-product">
                    <img src="img-1.jpg" class="img-responsive"/>
                    <h6>
                        گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...
                        <p>1,400,000 تومان</p>
                    </h6>
                </a>

            </div>
            <div class="arrow-left"><i class="fa fa-caret-left"></i></div>
        </div>
        <!--            <div class="owl-carousel owl-theme" >-->
        <!--                <div class="item"><img src="img-3.jpg"></div>-->
        <!--                <div class="item"><h4>2</h4></div>-->
        <!--                <div class="item"><h4>3</h4></div>-->
        <!--                <div class="item"><h4>4</h4></div>-->
        <!--                <div class="item"><h4>5</h4></div>-->
        <!--                <div class="item"><h4>6</h4></div>-->
        <!--                <div class="item"><h4>7</h4></div>-->
        <!--                <div class="item"><h4>8</h4></div>-->
        <!--                <div class="item"><h4>9</h4></div>-->
        <!--                <div class="item"><h4>10</h4></div>-->
        <!--                <div class="item"><h4>11</h4></div>-->
        <!--                <div class="item"><h4>12</h4></div>-->
        <!--            </div>-->
    </div>
    <div class="container-fluid">
        <div class="row mright-0 mleft-0">

            <div class="w3-bar w3-black">
                <button class="w3-bar-item w3-button" onclick="openBox('cash')"><i class="fa fa-code"></i>نقد و بررسی
                </button>
                <button class="w3-bar-item w3-button" onclick="openBox('descript')"><i class="fa fa-list"></i>مشخصات
                </button>
                <button class="w3-bar-item w3-button" onclick="openBox('comment')"><i class="fa fa-comment"></i>نظرات
                    کاربران
                </button>
                <button class="w3-bar-item w3-button" onclick="openBox('question')"><i class="fa fa-question"></i>پرسش
                    و پاسخ
                </button>
            </div>

            <div id="cash" class="w3-container tab">
                <h2>نقد و بررسی اجمالی</h2>
                <p>گوشی موبایل «A20s» از سری گوشی‌های A20 است که این بار با کمی به‌روزرسانی روانه بازار شده است. گوشی
                    موبایل Galaxy A20s با صفحه‌نمایش IPS طراحی شده است و ظاهر هم زیبایی دارد. سامسونگ تلاش کرده است
                    حاشیه را در این تولید جدید خود تا حد امکان کم کند. این گوشی قاب پشتی از جنس پلاستیک دارد و قاب جلویی
                    آن را شیشه پوشانده که البته جلوه‌ی زیبایی به گوشی داده است. این محصول سامسونگ با جدیدترین نسخه از
                    سیستم‌عامل اندروید (Pie) روانه بازار شده است تا از هر نظر گوشی مدرن به‌حساب بیاید. صفحه‌نمایش
                    استفاده‌شده در این گوشی 6.5 اینچ با رزولوشن HD+ است. این صفحه‌نمایش در هر اینچ 264 پیکسل را نشان
                    می‌دهد. تراشه‌ی این محصول، SDM450 Snapdragon 450 کوالکام سامسونگ است که به همراه 3 گیگابایت رم عرضه
                    می‌شود. این</p>
                <div class="img-desc" style="text-align: center">
                    <img src="big-img-1.jpg" width="800"/>
                </div>
                <hr>
                <h2>صفحه نمایش</h2>
                <p>صفحه نمایش 6.4 اینچی سوپر آمولد در گلکسی A30 بسیار زیبا و بلند به نظر می‎رسد. این پنل در کمتر گوشی در
                    این گستره قیمتی دیده می‎شود. در قسمت بالای صفحه نمایش فقط یک دوربین سلفی قرار گرفته است و حاشیه‎های
                    بالایی و کناری در گلکسی A30 بسیار باریک شده به طوری که صفحه نمایش آن توانسته است 84.9% نسبت مساحت کل
                    گوشی را به خود اختصاص دهد. برای محافظت از آن هم، از جدیدترین نسخه‌ ی محافظ‌ های گوریلاگلس استفاده
                    شده است . صفحه نمایش AMOLED در این گوشی از روشنایی و شفافیت بسیار خوبی برخوردار است؛ به طوری که در
                    تنظیمات با بیشترین روشنایی (616 LUX) مشاهده عکس ‎ها و متن‎ ها حتی در نور مستقیم آفتاب نیز امکان‎
                    پذیر است. همچنین با توجه به خاموش بودن پیکسل ‎های مشکی در صفحه نمایش AMOLED، سامسونگ قابلیت Always
                    On Display را برای نمایش تاریخ و ساعت در نظر گرفته است.</p>
                <div class="img-desc" style="text-align: center">
                    <img src="big-img-2.jpg" width="800"/>
                </div>
            </div>

            <div id="descript" class="w3-container tab" style="display:none">
                <h2>مشخصات فنی</h2>
                <table>
                    <tr>
                        <th><i class="fa fa-caret-left"></i>
                            مشخصات کلی
                        </th>
                    </tr>
                    <tr>
                        <td>ابعاد</td>
                        <td>8 × 77.5 × 163.3 میلی‌متر</td>
                    </tr>
                    <tr>
                        <td>توضیحات سیم کارت</td>
                        <td>
                            سایز نانو (8.8 × 12.3 میلی‌متر)
                        </td>
                    </tr>
                    <tr>
                        <td>وزن</td>
                        <td>
                            183 گرم
                        </td>
                    </tr>
                    <tr>
                        <td>ویژگی‌های خاص</td>
                        <td>مجهز به حس‌گر اثرانگشت</td>
                    </tr>
                    <tr>
                        <td>تعداد سیم کارت</td>
                        <td>دو سیم کارت</td>
                    </tr>

                    <tr>
                        <th><i class="fa fa-caret-left"></i>
                            پردازنده
                        </th>

                    </tr>
                    <tr>
                        <td>تراشه</td>
                        <td>Exynos 7884 Chipset</td>
                    </tr>
                    <tr>
                        <td>پردازنده‌ی مرکزی</td>
                        <td>Dual-Core + Hexa Core CPU</td>
                    </tr>
                </table>
            </div>

            <div id="comment" class="w3-container tab tab-comment" style="display:none">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="">
                            <li><h6>کورش علیزاده <span>خریدار</span></h6></li>
                            <li class="date">در تاریخ 11 دی 1398</li>
                            <li>خرید این محصول را پیشنهاد میکنم</li>
                            <li> رنگ :
                                <div></div>
                                مشکی
                            </li>
                            <li> فروشنده : ایرانیان قائم مقام</li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <h5>گوشی موبایل سامسونگ مدل Galaxy A20 SM-A205F/DS دو سیم کارت ظرفیت 32گیگابایت</h5>

                        <p>خیلی دنبال یه گوشی تو رنج قیمت متوسط و با کارایی بالا گشتم و خلاصه به این گوشی رسیدم البته
                            بعد از این گوشی 20 اس هم اومده ولی بخاطر پایین آوردن قیمت صفحه نمایشش و ال سی دی گذاشتن و
                            پردازنده اون هم به ای 20 نمیرسه . گوشی خوبیه و ازش راضیم . ممنون از دی جی کالا</p>
                        <hr>
                        <p> آیا این نظر برایتان مفید بود ؟ <span>بله </span> <span>خیر </span></p>
                    </div>
                </div>
            </div>
            <div id="question" class="w3-container tab" style="display:none">
                <div class="row">
                    <div class="col-md-12">
                        <h2>پرسش و پاسخ</h2>
                        <h5>پرسش خود را درمورد محصول مطرح نمایید !</h5>
                        <textarea type="text" cols="20" rows="5"></textarea>
                        <button>ثبت پرسش</button>
                        <div class="label-question">
                            <label class="checkbox">
                                <input type="checkbox" value="1" name="qa[email_notification]" id="agreement-check" class="" disabled="">
                                <span class=""></span>
                            </label>
                            <label for="agreement-check">اولین پاسخی که به پرسش من داده شد، از طریق ایمیل به من اطلاع دهید. <br>
                                با انتخاب دکمه “ثبت پرسش”، موافقت خود را با <a href="#" class="">قوانین انتشار محتوا</a> در دیجی
                                کالا اعلام می کنم.</label>

                        </div>
                    </div>
                </div>
                <div class="row mtop-30">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 pleft-0">
                                <h6 class="title-qs"><i class="fa fa-caret-left"></i>پرسش ها و پاسخ ها
                                    <span>(1 پرسش)</span></h6>
                            </div>
                       <div class="col-md-8 pright-0">
                           <ul class="order-list">
                               <li>
                                 مرتب سازی بر اساس :
                               </li>
                               <li><a href="#">جدیدترین پرسش</a></li>
                               <li><a href="#" class="active">بیشترین پاسخ به پرسش</a></li>
                               <li><a href="#">پرسش های شما</a></li>
                           </ul>
                       </div>
                    </div>
                </div>
                <div class="row question-box">
                    <div class="col-md-3">
                        <i class="fa fa-question-circle"></i>
                        <h6> پرسش <span>محمد ساعتی</span></h6>

                    </div>
                    <div class="col-md-9">
                        <p>سلام دوستان، یه سوال مهم که شاید سوال خیلی ها باشه. ایا A20 از فناوری 4.5g پشتیبانی میکنه یا
                            نه؟
                            سایت های ایرانی نوشتن پشتیبانی ندارد اما نمایندگی سامسونگ میگه پشتیبانی میکنه!</p>
                    </div>
                </div>
                <div class="row question-box">
                    <div class="col-md-3">
                        <i class="fa fa-question-circle"></i>
                        <h6> پرسش <span>محمد ساعتی</span></h6>

                    </div>
                    <div class="col-md-9">
                        <p>سلام دوستان، یه سوال مهم که شاید سوال خیلی ها باشه. ایا A20 از فناوری 4.5g پشتیبانی میکنه یا
                            نه؟
                            سایت های ایرانی نوشتن پشتیبانی ندارد اما نمایندگی سامسونگ میگه پشتیبانی میکنه!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="text-align: center !important;">

        <div class="gototop"><h6>بازگشت به بالا<span class="icon-div">  <i
                class="fa fa-caret-up"></i></span>
        </h6></div>
    </div>

</div>
</div>


{% endblock %}