{% extends 'base.html' %}

{% block content %}
{% load static %}



    <section class="breadcrumb_part">
      <div class="container">
          <div class="row">
              <div class="col-lg-3">
                  <div class="breadcrumb_iner">
                      <h2>{{ this_product.product_name }}</h2>
                  </div>
              </div>
              <div class="col-lg-9">
                <ul class="top-list">
                  <li>
                    <a href="{% url 'content:home' %}">بی دی مارکت</a>
                    <span>/</span></li>
                  {% for cat in catlst %}
                  <li><a href="{% url 'content:products' cat.id %}">{{ cat.cat_name }}</a> <span>/</span></li>
                  {% endfor %}
        
                  <li> {{ this_product.product_name }} </li>
        
                </ul>
              </div>
          </div>
      </div>
  </section>
  <div class="bg-color">
    <div class="container-fluid">
    <!-- <div class="row">
      <div class="col-md-12">

        <ul class="top-list">
          <li>
            <a href="{% url 'content:home' %}">بی دی مارکت</a>
            <span>/</span></li>
          {% for cat in catlst %}
          <li><a href="{% url 'content:products' cat.id %}">{{ cat.cat_name }}</a> <span>/</span></li>
          {% endfor %}

          <li> {{ this_product.product_name }} </li>

        </ul>
      </div>
    </div> -->

    <div class="row product-box">

      <div class="col-md-3">
        <img
          src="{{ this_product.product_image.url }}"
          class="img-responsive"
        />

      </div>
      <div class="col-md-9">
        <div class="details">
          <h5>{{ this_product.product_name }}</h5>
          <div class="row">
            <div class="col-5">
              <ul class="dotted">
                <li><span>دسته بندی : </span><a href="{% url 'content:products' this_product.subcategory_id.id %}">{{ this_product.subcategory_id.cat_name }}</a></li>
                <li><span>برند : </span>{{ this_product.brand_id.brand_name }}</li>
              </ul>

              <ul class="text-list">
                {% for proattr in this_product.pro_attr.all %}
                <li> {{ proattr.attr_id.attr_title }}:
                  {% if proattr.value_type == 'BOOL' %}
                  {% if proattr.bool_value %}
                  دارد
                  {% else %}
                  ندارد
                  {% endif %}
                  {% elif proattr.value_type == 'INT' %}
                  {{ proattr.int_value }} عدد
                  {% elif proattr.value_type == 'TXT' %}
                  {{ proattr.text_value }}
                  {% endif %}

                </li>
                {% endfor %}
              </ul>
              <p>توضیحات: {{ this_product.product_description }} </p>
              <div class="row">
                <div class="col-md-12">
                  <hr>
                </div>
              </div>
              <div class="row icon-section">
                <div class="col-md-3 pleft-0">

                  <div class="row">

                    <div class="col-md-4 pleft-0 pright-0">
                      <img
                        src="{% static 'img/icon-1.png' %}"
                    
                      /></div>
                    <div class="col-md-8"> ضمانت اصل بودن کالا</div>
                  </div>


                </div>
                <div class="col-md-3 pleft-0">
                  <div class="row">
                    <div class="col-md-4 pleft-0 pright-0">
                      <img
                      src="{% static 'img/icon-2.png' %}"
                        
                      >
                    </div>
                    <div class="col-md-8">
                      7 روز هفته 24 ساعته
                    </div>
                  </div>
                </div>
                <div class="col-md-3 pleft-0">
                  <div class="row">
                    <div class="col-md-4 pleft-0 pright-0">
                      <img
                      src="{% static 'img/icon-3.png' %}"
                     
                      >
                    </div>
                    <div class="col-md-8">
                      امکان تحویل اکسپرس
                    </div>
                  </div>
                </div>
                <div class="col-md-3 pleft-0">
                  <div class="row">
                    <div class="col-md-4 pleft-0 pright-0">
                      <img
                      src="{% static 'img/icon-4.png' %}"
                      
                      >
                    </div>
                    <div class="col-md-8">
                      امکان پرداخت در محل
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7">
              <div class="side-details-box">
                <table class="table table-seller">
                  {% for supplier in this_product_suppliers %}
                  <tr>
                    <td>
                      {{ supplier.supplier_id.company_name }}
                    </td>
                    <td>{{ supplier.unit_price }} تومان</td>
                    <td>

                      <form style="width:100% !important"
                        class=""
                        action="{% url 'cart:showcart' %}"
                        method="POST"
                      >
                        {% csrf_token %}
                        <input
                          type="hidden"
                          id="custId"
                          name="prosupid"
                          value="{{ supplier.id }}"
                        >
                        {% comment %} <label for="quantity">تعداد:</label>
                        <input
                          type="number"
                          id="quantity"
                          name="quantity"
                          min="1"
                          max="{{ supplier.stock|add:'0' }}"
                          value="1"
                        > {% endcomment %}
                        <button type="submit"> افزودن به سبد</button>
                      </form>

                    </td>

                  </tr>
                  {% endfor %}
                </table>
              </div>

            </div>
          </div>

        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-md-12">
        {% comment %} <h5 class="title-table">لیست فروشنده / گارانتی های این محصول
          <a href="#">کالای خود را در دیجی کالا بفروشید</a>
        </h5> {% endcomment %}


      </div>
    </div>
    <div class="row mbottom-30 mtop-30">
   
      <div class="col-md-12">
        <div class="w3-bar w3-black">
     <h4><i class="fa fa-pen"></i>
               محصولات مرتبط
           </h4>
     
           </div>
     </div>
          
     {% for pro in pro4 %}
      <div class="col-md-3">

        <a
          class="relate-product"
          href="{% url 'content:productdetails' pro.id %}"
          target="_blank"
        >
          <img
            src="{{ pro.product_image.url }}"
            class="img-responsive"
          />
          <h6>
            {{ pro.product_name }}
            {% comment %} <p>1,200,000 تومان</p> {% endcomment %}
          </h6>
        </a>
      </div>
      {% endfor %}
   
    </div>
    <!--            <div class="owl-carousel owl-theme" >-->
    <!--                <div class="item"><img src="img-3.jpg"></div>-->
    <!--                <div class="item"><h4>2</h4></div>-->
    <!--                <div class="item"><h4>3</h4></div>-->
    <!--                <div class="item"><h4>4</h4></div>-->
    <!--                <div class="item"><h4>5</h4></div>-->
    <!--                <div class="item"><h4>6</h4></div>-->
    <!--                <div class="item"><h4>7</h4></div>-->
    <!--                <div class="item"><h4>8</h4></div>-->
    <!--                <div class="item"><h4>9</h4></div>-->
    <!--                <div class="item"><h4>10</h4></div>-->
    <!--                <div class="item"><h4>11</h4></div>-->
    <!--                <div class="item"><h4>12</h4></div>-->
    <!--            </div>-->
  </div>
  <div class="container-fluid">
    <div class="row mright-0 mleft-0">
<div class="col-md-12">
   <div class="w3-bar w3-black">
<h4><i class="fa fa-comment"></i>نظرات
          کاربران
      </h4>

      </div>
</div>
     


      <div
        id="comment"
        class="w3-container tab tab-comment"
      >

      
        <form
          class="alaki"
          action="{% url 'content:productdetails' this_product.id %}"
          method="POST"
        >
          {% csrf_token %}
          {{cmform}}
          <button type="submit"> ثبت نظر</button>
        </form>



        {% comment %} {{error}} {% endcomment %}
        {% for feedback in this_product.feedback.all %}
        <div class="row">
          <div class="col-md-4">
            <ul class="">
              <li>
                <h6>{{ feedback.custumer_id.user.get_full_name }}</h6>
              </li>
              {% comment %} <li class="date">در تاریخ 11 دی 1398</li> {% endcomment %}


            </ul>
          </div>
          <div class="col-md-8">


            <p>{{ feedback.comment }}</p>
            <hr>
            {{ feedback.get_rate_display }}
          </div>
        </div>
        {% endfor %}
      </div>



      <div
        class="row"
        style="text-align: center !important;"
      >

      
      </div>

    </div>
  </div>


  {% endblock %}