{% extends 'blog/home.html' %}

{% comment %} {% block header %}
	<h3 class="alert alert-primary text-center">نویسنده: {{author.get_full_name}}</h3>
{% endblock %}

{% block previous_page_url %}
	{% url 'blog:author' author.username page_obj.previous_page_number %}
{% endblock %}

{% block next_page_url %}
	{% url 'blog:author' author.username page_obj.next_page_number %}
{% endblock %}



<div class="clearfix pager-botton">
          {% if article.has_previous %} 
            <a class="btn btn-primary float-right ml-3" href="{% url 'blog:author' article.previous_page_number %}">پست های جدید تر &rarr;</a>
          {% endif %}    
          {% if article.has_next %}  
            <a class="btn btn-primary float-right" href="{% url 'blog:author' article.next_page_number %}">پست های قدیمی تر &larr;</a>
          {% endif %} 
        </div> {% endcomment %}
