{% extends 'base.html' %}

{% block content %}

<p> 
مبلغ نهایی: {{ total_price }}
 </p>

<form
      class=""
      action="{% url 'financial:pay' %}"
      method="POST"
    >
      {% csrf_token %}
      {% comment %} <input
        type="hidden"
        id="custId"
        name="prosupid"
        value="{{ supplier.id }}"
      > {% endcomment %}

<h2> انتخاب آدرس: </h2>
{% for address in  request.user.customer.address.all %}
      <input type="radio" id="{{ address.id }}" name="address" value="{{ address.id }}">
<label for="{{ address.id }}">{{ address.address }}</label><br>
{% endfor %}

<h2> درگاه بانک: </h2>
{% for paymeth in payment_methods %}
      <input type="radio" id="{{ paymeth.method_title }}" name="payment_method" value="{{ paymeth.id }}">
<label for="{{ paymeth.method_title }}">{{ paymeth.method_title }}</label><br>
{% endfor %}

      <button type="submit">پرداخت</button>
    </form>


{% endblock %}